torch 
torchaudio 
numpy 
scipy
scikit-learn
tqdm
opencv-python
torchvision
youtube-dl
tensorboard
kaggle
python_speech_features
alive-progress
gradio
PySimpleGUI
tk
imutils
albumentations
imgaug
decord
pytube @ git+https://github.com/oncename/pytube.git
imageio==2.25.1
transformers
huggingface-hub
